<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052373662813-0hn2opigtvqhkeib5du75igms0op71rb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052373662813-0hn2opigtvqhkeib5du75igms0op71rb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1052373662813-tjqtnq3t5uj2qc82936nj0irf9atajvo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAMlvS1q6gNSlmcQ5b6oBIqU1osmXReLbg</string>
	<key>GCM_SENDER_ID</key>
	<string>1052373662813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.duaraEcommerce</string>
	<key>PROJECT_ID</key>
	<string>c-ecommerce-c704c</string>
	<key>STORAGE_BUCKET</key>
	<string>c-ecommerce-c704c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052373662813:ios:7b728ff01e25a32c9ce1b4</string>
</dict>
</plist>